<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\..\FrameXML\UI.xsd">

	<Script File="Config.lua"/>

	<Frame name="InspectorConfig" toplevel="true" frameStrata="FULLSCREEN" hidden="true" parent="UIParent">

		<Size><AbsDimension x="200" y="230"/></Size>

		<Anchors><Anchor point="CENTER"/></Anchors>

		<Backdrop bgFile="Interface\Tooltips\UI-Tooltip-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="false">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11"/>
			</BackgroundInsets>
			<color r="0" g="0" b="0" a="1"/>
		</Backdrop>

		<Layers>
			<!-- TITLE -->
			<Layer level="ARTWORK">
				<Texture name="$parent_Header" file="Interface\DialogFrame\UI-DialogBox-Header">
					<Size><AbsDimension x="260" y="64"/></Size>
					<Anchors>
						<Anchor point="TOP">
							<Offset><AbsDimension x="0" y="12"/></Offset>
						</Anchor>
					</Anchors>
				</Texture>
				<FontString name="$parent_HeaderString" inherits="GameFontNormal" text="Config">
					<Anchors>
						<Anchor point="TOP" relativeTo="$parent_Header">
							<Offset><AbsDimension x="0" y="-14"/></Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>

		<Frames>
            <!-- Animation -->
            <CheckButton name="$parent_AnimateCheckButton" inherits="UICheckButtonTemplate" checked="true">
                <Size x="24" y="24" />
                <Anchors>
                    <Anchor point="TOPLEFT" x="60" y="-45" />
                </Anchors>
                <Scripts>
                    <OnClick>InspectorConfig_AnimateCheckButton_OnClick();</OnClick>
                </Scripts>
            </CheckButton>

            <!-- Spin -->
            <CheckButton name="$parent_SpinCheckButton" inherits="UICheckButtonTemplate" checked="true">
                <Size x="24" y="24" />
                <Anchors>
                    <Anchor point="TOPLEFT" x="60" y="-75" />
                </Anchors>
                <Scripts>
                    <OnClick>InspectorConfig_SpinCheckButton_OnClick();</OnClick>
                </Scripts>
            </CheckButton>

            <!-- Background -->
            <CheckButton name="$parent_BackgroundCheckButton" inherits="UICheckButtonTemplate" checked="true">
                <Size><AbsDimension x="25" y="25"/></Size>
                <Anchors>
                    <Anchor point="TOPLEFT" x="60" y="-105" />
                </Anchors>
                <Scripts>
                    <OnClick>InspectorConfig_BackgroundCheckButton_OnClick(); </OnClick>
                </Scripts>
            </CheckButton>

			<!-- Close Button -->
			<Button name="InspectorConfig_CloseButton" inherits="OptionsButtonTemplate" text="Close">
				<Size><AbsDimension x="100" y="32"/></Size>
				<Anchors>
					<Anchor point="BOTTOM" x="0" y="40"/>
				</Anchors>
				<Scripts>
					<OnClick>InspectorConfig_CloseButton_OnClick();</OnClick>
				</Scripts>
			</Button>
		</Frames>

		<Scripts>
			 <OnLoad>InspectorConfig_OnLoad();</OnLoad>
			 <OnShow>InspectorConfig_OnShow();</OnShow>
			 <OnHide>InspectorConfig_OnHide();</OnHide>
             <OnMouseDown>InspectorConfig_OnMouseDown();</OnMouseDown>d
             <OnMouseUp>InspectorConfig_OnMouseUp();</OnMouseUp>
		</Scripts>
	</Frame>
</Ui>
